.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %button.navbar-toggle{'data-toggle' => 'collapse', 'data-target' => '#navbar-collapse'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to 'Kinna', root_path, class: 'navbar-brand'

    #navbar-collapse.collapse.navbar-collapse
      - if user_signed_in?
        %ul.nav.navbar-nav
          - if current_organization
            = nav_link "Dashboard", dashboard_path
          %li.dropdown
            %a.dropdown-toggle{'href' => '#'}
              = t(:general)
              %b.caret
            %ul.dropdown-menu
              = nav_link t(:organization_selector), organization_selector_path
              - if current_organization
                = nav_link t(:organization), organization_path
                = nav_link t(:users), users_path
                = nav_link t(:accounting_plans), accounting_plans_path
                = nav_link t(:tax_codes), tax_codes_path
                = nav_link t(:ink_codes), ink_codes_path
                = nav_link t(:templates), templates_path
                = nav_link t(:employee), employees_path
                = nav_link t(:result_units), result_units_path
          - if current_organization
            %li.dropdown
              %a.dropdown-toggle{'href' => '#'}
                = t(:accounting)
                %b.caret
              %ul.dropdown-menu
                = nav_link t(:accounting_periods), accounting_periods_path
                = nav_link t(:vat_periods), vat_periods_path
                = nav_link t(:wage_periods), wage_periods_path
                = nav_link t(:opening_balances), opening_balances_path
                = nav_link t(:verificates), verificates_path
                = nav_link t(:closing_balances), closing_balances_path
                = nav_link t(:tax_returns), tax_returns_path

            %li.dropdown
              %a.dropdown-toggle{'href' => '#'}
                = t(:imports)
                %b.caret
              %ul.dropdown-menu
                = nav_link t(:accounting_plan), accounting_plans_path
                = nav_link t(:sie_file), import_sie_files_order_import_sie_path
                = nav_link t(:bank_file), import_bank_files_path
            %li.dropdown
              %a.dropdown-toggle{'href' => '#'}
                = t(:exports)
                %b.caret
              %ul.dropdown-menu
                = nav_link t(:bank_file), import_bank_files_path
            %li.dropdown
              %a.dropdown-toggle{'href' => '#'}
                = t(:reports)
                %b.caret
              %ul.dropdown-menu
                = nav_link t(:verificates), reports_order_verificates_report_path
                = nav_link t(:ledger), ledgers_path
                = nav_link t(:result_report), reports_order_result_report_path
                = nav_link t(:balance_report), reports_order_balance_report_path

        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a.dropdown-toggle{'href' => '#'}
              = current_user.name
              %b.caret
            %ul.dropdown-menu
              - if current_user.superadmin?
                %li=link_to t(:admin), admin_dashboard_path
              %li=link_to t(:profile), profile_path
              %li=link_to t(:sign_out), destroy_user_session_path, method: :delete

      - else
        %ul.nav.navbar-nav
          %li
            =link_to t(:about), about_path
          %li
            =link_to t(:sign_in), new_user_session_path
