.btn-group
  = link_to "#{t(:create)} #{t(:sie_diff_row)}", new_sie_diff_row_path, class: 'btn btn-success'

.table-responsive{:ng_controller=>'ModalCtrl'}
  %table{:class => 'table table-striped'}
    %thead
      %tr
        %th= t(:old_number)
        %th= t(:new_number)
        %th
        %th
    %tbody{}
      - @sie_diff_rows.each do |sie_diff_row|
        %tr
          %td= sie_diff_row.old_number
          %td= sie_diff_row.new_number
          %td.numeric= link_to settings_icon, edit_sie_diff_row_path(sie_diff_row)
          %td.numeric= delete_modal_for sie_diff_row

  = paginate @sie_diff_rows, :theme => 'twitter-bootstrap-3'
  = render partial: 'shared/modal_delete', locals: {idx: 'deleteContent'}

